In [1]:
#Importar pandas
import pandas as pd

In [2]:
#Creación df desde el csv: DESERCION_DE_LA_FORMACI_N_PROFESIONAL_INTEGRAL_20250419
df = pd.read_csv("DESERCION_DE_LA_FORMACI_N_PROFESIONAL_INTEGRAL_20250419.csv")

In [3]:
#Analisis de la dimension de las filas y columnas
df.shape

(42080, 15)

In [4]:
#Acceder a informacion del data set
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42080 entries, 0 to 42079
Data columns (total 15 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   CODIGO_REGIONAL                42080 non-null  int64
 1   NOMBRE_REGIONAL                42080 non-null  object
 2   CODIGO_CENTRO                  42080 non-null  int64
 3   NOMBRE_CENTRO                  42080 non-null  object
 4   IDENTIFICADOR_UNICO_FICHA      42080 non-null  int64
 5   FECHA_INICIO_FICHA             42080 non-null  object
 6   FECHA_TERMINACION_FICHA        42080 non-null  object
 7   CODIGO_PROGRAMA                42080 non-null  object
 8   VERSION_PROGRAMA               42080 non-null  int64
 9   NOMBRE_PROGRAMA_FORMACION      42080 non-null  object
 10  NIVEL_FORMACION                42080 non-null  object
 11  MODALIDAD_FORMACION            42080 non-null  object
 12  TOTAL_APRENDICES_MATRICULADOS  42080 non-null  int64
 13  DESERTORES_AÑO_ACTUAL          42080 non-null  int64
 14  PERIODO                        42080 non-null  int64
dtypes: int64(7), object(8)
memory usage: 4.8+ MB

In [5]:
# Eliminar la columna VERSION_PROGRAMA
df_cleaned = df.drop(columns='VERSION_PROGRAMA')

In [6]:
#Acceder a informacion del data set
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42080 entries, 0 to 42079
Data columns (total 14 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   CODIGO_REGIONAL                42080 non-null  int64
 1   NOMBRE_REGIONAL                42080 non-null  object
 2   CODIGO_CENTRO                  42080 non-null  int64
 3   NOMBRE_CENTRO                  42080 non-null  object
 4   IDENTIFICADOR_UNICO_FICHA      42080 non-null  int64
 5   FECHA_INICIO_FICHA             42080 non-null  object
 6   FECHA_TERMINACION_FICHA        42080 non-null  object
 7   CODIGO_PROGRAMA                42080 non-null  object
 8   NOMBRE_PROGRAMA_FORMACION      42080 non-null  object
 9   NIVEL_FORMACION                42080 non-null  object
 10  MODALIDAD_FORMACION            42080 non-null  object
 11  TOTAL_APRENDICES_MATRICULADOS  42080 non-null  int64
 12  DESERTORES_AÑO_ACTUAL          42080 non-null  int64
 13  PERIODO                        42080 non-null  int64
dtypes: int64(6), object(8)
memory usage: 4.5+ MB

In [7]:
# Renombrar las columnas que lleven la palabra CODIGO por COD, NOMBRE por NOM e IDENTIFICADOR por IDENT
df_cleaned.rename(columns={'CODIGO_REGIONAL':'COD_REGIONAL'},inplace=True)
df_cleaned.rename(columns={'NOMBRE_REGIONAL':'NOM_REGIONAL'},inplace=True)
df_cleaned.rename(columns={'CODIGO_CENTRO':'COD_CENTRO'},inplace=True)
df_cleaned.rename(columns={'NOMBRE_CENTRO':'NOM_CENTRO'},inplace=True)
df_cleaned.rename(columns={'IDENTIFICADOR_UNICO_FICHA':'IDENT_UNICO_FICHA'},inplace=True)
df_cleaned.rename(columns={'CODIGO_PROGRAMA':'COD_PROGRAMA'},inplace=True)
df_cleaned.rename(columns={'NOMBRE_PROGRAMA_FORMACION':'NOM_PROGRAMA_FORMACION'},inplace=True)

In [8]:
#Acceder a informacion del data set
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42080 entries, 0 to 42079
Data columns (total 14 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   COD_REGIONAL                   42080 non-null  int64
 1   NOM_REGIONAL                   42080 non-null  object
 2   COD_CENTRO                     42080 non-null  int64
 3   NOM_CENTRO                     42080 non-null  object
 4   IDENT_UNICO_FICHA              42080 non-null  int64
 5   FECHA_INICIO_FICHA             42080 non-null  object
 6   FECHA_TERMINACION_FICHA        42080 non-null  object
 7   COD_PROGRAMA                   42080 non-null  object
 8   NOM_PROGRAMA_FORMACION         42080 non-null  object
 9   NIVEL_FORMACION                42080 non-null  object
 10  MODALIDAD_FORMACION            42080 non-null  object
 11  TOTAL_APRENDICES_MATRICULADOS  42080 non-null  int64
 12  DESERTORES_AÑO_ACTUAL          42080 non-null  int64
 13  PERIODO                        42080 non-null  int64
dtypes: int64(6), object(8)
memory usage: 4.5+ MB

In [9]:
# Modificar DataTypes
df_cleaned['NOM_REGIONAL'] = df_cleaned['NOM_REGIONAL'].astype('string')
df_cleaned['NOM_CENTRO'] = df_cleaned['NOM_CENTRO'].astype('string')
df_cleaned['NOM_PROGRAMA_FORMACION'] = df_cleaned['NOM_PROGRAMA_FORMACION'].astype('string')
df_cleaned['NIVEL_FORMACION'] = df_cleaned['NIVEL_FORMACION'].astype('string')
df_cleaned['MODALIDAD_FORMACION'] = df_cleaned['MODALIDAD_FORMACION'].astype('string')
df_cleaned['COD_CENTRO'] = df_cleaned['COD_CENTRO'].astype('string')
df_cleaned['COD_REGIONAL'] = df_cleaned['COD_REGIONAL'].astype('string')
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42080 entries, 0 to 42079
Data columns (total 14 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   COD_REGIONAL                   42080 non-null  string
 1   NOM_REGIONAL                   42080 non-null  string
 2   COD_CENTRO                     42080 non-null  string
 3   NOM_CENTRO                     42080 non-null  string
 4   IDENT_UNICO_FICHA              42080 non-null  int64
 5   FECHA_INICIO_FICHA             42080 non-null  object
 6   FECHA_TERMINACION_FICHA        42080 non-null  object
 7   COD_PROGRAMA                   42080 non-null  object
 8   NOM_PROGRAMA_FORMACION         42080 non-null  string
 9   NIVEL_FORMACION                42080 non-null  string
 10  MODALIDAD_FORMACION            42080 non-null  string
 11  TOTAL_APRENDICES_MATRICULADOS  42080 non-null  int64
 12  DESERTORES_AÑO_ACTUAL          42080 non-null  int64
 13  PERIODO                        42080 non-null  int64
dtypes: int64(4), object(3), string(7)
memory usage: 4.5+ MB

In [10]:
# Remueve la filas con campos nulos
df_cleaned.dropna(subset=["FECHA_INICIO_FICHA"], inplace = True)

In [11]:
# Genera un listado de las variables de la columna NOM_REGIONAL
sorted(df_cleaned.NOM_REGIONAL.unique())

['"REGIONAL AMAZONAS"',
 '"REGIONAL ANTIOQUIA"',
 '"REGIONAL ARAUCA"',
 '"REGIONAL ATLANTICO"',
 '"REGIONAL BOLIVAR"',
 '"REGIONAL BOYACA"',
 '"REGIONAL CALDAS"',
 '"REGIONAL CAQUETA"',
 '"REGIONAL CASANARE"',
 '"REGIONAL CAUCA"',
 '"REGIONAL CESAR"',
 '"REGIONAL CHOCO"',
 '"REGIONAL CORDOBA"',
 '"REGIONAL CUNDINAMARCA"',
 '"REGIONAL DISTRITO CAPITAL"',
 '"REGIONAL GUAINIA"',
 '"REGIONAL GUAJIRA"',
 '"REGIONAL GUAVIARE"',
 '"REGIONAL HUILA"',
 '"REGIONAL MAGDALENA"',
 '"REGIONAL META"',
 '"REGIONAL NARIÑO"',
 '"REGIONAL NORTE DE SANTANDER"',
 '"REGIONAL PUTUMAYO"',
 '"REGIONAL QUINDIO"',
 '"REGIONAL RISARALDA"',
 '"REGIONAL SAN ANDRES"',
 '"REGIONAL SANTANDER"',
 '"REGIONAL SUCRE"',
 '"REGIONAL TOLIMA"',
 '"REGIONAL VALLE"',
 '"REGIONAL VAUPES"',
 '"REGIONAL VICHADA"']

In [12]:
# Cambia el nombre de la REGIONAL DISTRITO CAPITAL a REGIONAL BOGOTA
df_cleaned.NOM_REGIONAL =df_cleaned.NOM_REGIONAL.replace('"REGIONAL DISTRITO CAPITAL"', 'REGIONAL BOGOTA')

In [13]:
# Genera un listado de las variables de la columna NOM_REGIONAL
sorted(df_cleaned.NOM_REGIONAL.unique())

['"REGIONAL AMAZONAS"',
 '"REGIONAL ANTIOQUIA"',
 '"REGIONAL ARAUCA"',
 '"REGIONAL ATLANTICO"',
 '"REGIONAL BOLIVAR"',
 '"REGIONAL BOYACA"',
 '"REGIONAL CALDAS"',
 '"REGIONAL CAQUETA"',
 '"REGIONAL CASANARE"',
 '"REGIONAL CAUCA"',
 '"REGIONAL CESAR"',
 '"REGIONAL CHOCO"',
 '"REGIONAL CORDOBA"',
 '"REGIONAL CUNDINAMARCA"',
 '"REGIONAL GUAINIA"',
 '"REGIONAL GUAJIRA"',
 '"REGIONAL GUAVIARE"',
 '"REGIONAL HUILA"',
 '"REGIONAL MAGDALENA"',
 '"REGIONAL META"',
 '"REGIONAL NARIÑO"',
 '"REGIONAL NORTE DE SANTANDER"',
 '"REGIONAL PUTUMAYO"',
 '"REGIONAL QUINDIO"',
 '"REGIONAL RISARALDA"',
 '"REGIONAL SAN ANDRES"',
 '"REGIONAL SANTANDER"',
 '"REGIONAL SUCRE"',
 '"REGIONAL TOLIMA"',
 '"REGIONAL VALLE"',
 '"REGIONAL VAUPES"',
 '"REGIONAL VICHADA"',
 'REGIONAL BOGOTA']

In [14]:
# Genera un listado de las variables de la columna MODALIDAD_FORMACION
sorted(df_cleaned.MODALIDAD_FORMACION.unique())

['"A DISTANCIA"', '"PRESENCIAL"', '"VIRTUAL"']

In [15]:
# Cambia el nombre de la variable A DISTANCIA por DISTACIA de la columna MODALIDAD_FORMACION
df_cleaned.MODALIDAD_FORMACION =df_cleaned.MODALIDAD_FORMACION.replace('"A DISTANCIA"', 'DISTANCIA')

In [16]:
# Genera un listado de las variables de la columna MODALIDAD_FORMACION
sorted(df_cleaned.MODALIDAD_FORMACION.unique())

['"PRESENCIAL"', '"VIRTUAL"', 'DISTANCIA']

In [17]:
#Analisis de la dimension de las filas y columnas
df_cleaned.shape

(42080, 14)

In [18]:
#Acceder a informacion del data set
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42080 entries, 0 to 42079
Data columns (total 14 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   COD_REGIONAL                   42080 non-null  string
 1   NOM_REGIONAL                   42080 non-null  string
 2   COD_CENTRO                     42080 non-null  string
 3   NOM_CENTRO                     42080 non-null  string
 4   IDENT_UNICO_FICHA              42080 non-null  int64
 5   FECHA_INICIO_FICHA             42080 non-null  object
 6   FECHA_TERMINACION_FICHA        42080 non-null  object
 7   COD_PROGRAMA                   42080 non-null  object
 8   NOM_PROGRAMA_FORMACION         42080 non-null  string
 9   NIVEL_FORMACION                42080 non-null  string
 10  MODALIDAD_FORMACION            42080 non-null  string
 11  TOTAL_APRENDICES_MATRICULADOS  42080 non-null  int64
 12  DESERTORES_AÑO_ACTUAL          42080 non-null  int64
 13  PERIODO                        42080 non-null  int64
dtypes: int64(4), object(3), string(7)
memory usage: 4.5+ MB

In [20]:
df_cleaned.to_csv("Desercion_Clean.csv",index=False)
print("\nEl archivo CSV ha sido guardado.")

El archivo CSV ha sido guardado.